@import "tailwindcss";

body {
  font-family: 'Karla', sans-serif;
  overflow-x: hidden;
}

.rotate-bg {
  animation: rotateGradient 6s linear infinite;
}
@keyframes rotateGradient {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.rainbow::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: 50% 30%;
  filter: blur(6px);
  background-image: linear-gradient(#FFF);
  animation: rotate 4s linear infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
/* marquee styles */
.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.marquee__inner {
  display: flex;
  align-items: center;
  gap: 2rem;
  animation: marquee 12s linear infinite;
}

.marquee__item {
  display: inline-flex;
  align-items: center;
}

.marquee::-webkit-scrollbar {
  display: none;
}

.group:hover .marquee__inner,
.group:focus-within .marquee__inner {
  animation-duration: 6s;
}



.marquee-inner {
  animation: marqueeScroll linear infinite;
}

@keyframes marqueeScroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}




@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}